*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("Japan\ \(Fuji\ Mount\).jpg");
    background-attachment: fixed;
    background-size:cover;
  color: rgb(236, 52, 52);
  background-blend-mode: overlay;
  background-color: rgb(26, 26, 26);
}
.navbar {
    display:flex;
    justify-content:space-between;
    padding: 10px 20px;
}
    
.navbar ul li{
    list-style: none;
    display: inline;
    padding-right: 20px;
}
.navbar ul li a{
 text-decoration: none;
 font-size:20px;
 color: aliceblue;

 
}

.navbar ul li a:hover{
  color:red;

  
}
    
.hero {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  
}
.logo img{
  display: block;
  height: 60px;
  width: auto;
}
